

html{
	/*widtht: 148mm;*/
	/*height: 210mm;*/
	
	padding: 0;
	margin: 0;
		
}

body {
	
		
	padding: 0;
	margin: 0;
	
	
	/*font-family: 'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif;*/
	/*font-family: 'DejaVu Sans';*/
	 font-family: Ubuntu, sans-serif;	
}


.block-page {
	margin: 0;
	padding: 0;
	/*widtht: 148mm;
	height: 210mm;*/	
	page-break-after: always;
	
	/*border: 1px dotted #999;*/
}

#volley-page img{
	width: 154mm;
	height: 218.94mm;	
}



@page { 
	size:148mm 210mm;
	margin: 0;
	padding: 0;
}


@media print {
    .block-page {
     page-break-after: always;
    } 


    td {	
		/*border-width: 0.2pt;*/
		
		-webkit-print-color-adjust: exact;	
	}
	
	.c1 span {
	
		
		border-bottom-width: 0.2pt;
	}
	
} 





/*********** FRONT PAGE ******************/

.main-pic, .main-pic img{
	max-width: 148mm;
	
}

.main-pic{
	padding-top: 25mm;
	margin: 0 auto;
}


.bottom-pic, .bottom-pic img{
	max-width: 128mm;
	
}



.bottom-pic{
	padding-top: 30mm;
	margin: 0 auto;
}

/*********** FRONT PAGE ******************/


/*********** INDEX PAGE ******************/


.index-page {

	font-weight: bold;
	/*padding: 5pt 27pt 72pt 27pt;*/
	padding-top: 0;
	padding-left: 13mm;
	padding-right: 13mm;
	padding-bottom: 0;
}

.c1 {
	text-align: right;	
	font-size: 14pt;
	color: #555;
	font-weight: normal;
	
	margin: 0;
	padding-top: 10mm;
	padding-bottom: 3mm;
	
}

.c1 span {
	/*text-decoration: underline;*/
	border-bottom-style: solid;
	border-bottom-color: #d9d9d9;
	border-bottom-width: 1pt;/*0.5pt;*/
}



.tasks-hr td {
	border-radius: 5px;
	border: 0;
	
	padding-left: 7pt;
}


.type-1 td{
	background-color: #d73c03;
}

.type-2 td{
	background-color: paleturquoise;
}

.type-3 td{
	background-color: lightgreen;
}

.type-4 td{
	background-color: lightsteelblue;
}

.step{
	height: 15pt;
}

.step{
	border: 0;
}


table {
	border-collapse: collapse;
	width: 100%;
}

td {
	border-style: dotted;
	border-color: #d9d9d9;
	border-width: 0pt;/*0.5pt;*/
	padding: 3pt;

}


.border-item:after {
	content: '..........................................................................................';
	letter-spacing: 1mm; /* Use letter-spacing to increase space between dots*/
	
	position: absolute;

	font-size: 1.5mm;
	color: #999;
	margin-top: 2mm;
}


.row-item td:nth-child(1) { 
    border: 0;
    /*padding: 0;*/
    padding-right: 0;
    width: 10mm;
    text-align: left;
    
}



.row-item td:nth-child(2) { 
    border-left: 0;
    border-right: 0;
    
}

.row-item td:last-child { 
    border-right: 0;
    width: 2pt;
    border: 0;
}

.row-item-1 td { 
    border-top: 0;    
}



/*********** LAST PAGE ******************/
#last-page {

	
	padding-top: 5mm;
	padding-left: 8mm;
	padding-right: 8mm;
	padding-bottom: 0;
	
	font-weight: normal;
	
	page-break-after: avoid;
	
	text-indent: 5mm;
}


